.top{
	width: 100%;
	height: 200px;
}
.intop{ 
	width: 600px;
	text-align: center;
}
.mid{
	display: none;
	width: 100%;
	height: 52px;
	display: none;

}
.knopka{
	display: none;
	width:70px; 
	height: 52px;
	background-image:url(ts.png);

}
.info{
	text-align: center;
	margin-top: 30px;
}
img{max-width: 100%;}